POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=stockpilot
POSTGRES_USER=stockpilot
POSTGRES_PASSWORD=your_password_here

YAHOO_FINANCE_API_KEY=your_rapidapi_key_here
YAHOO_FINANCE_API_HOST=yahoo-finance15.p.rapidapi.com
